#main{
    height:100%;
    width:100%;
    z-index:0;
}
#block{
    position:absolute;
    height:100%;
    width:100%;
    top:0%;
    left:0%;
    z-index:10;
    background:rgba(0,0,0,0.5);
}
#popup{
    position:absolute;
    height:auto;
    width:auto;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background-color: white;
    z-index:20;
}
#check{
    position:absolute;
    height:auto;
    width:auto;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background-color: white;
    z-index:30;
}